/* Header */
.header__root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: #007990;
}

.logo__header {
    height: 7rem;
}

.link {
    margin: 1.5rem;
}

.icon__header {
    width: 32px;
    margin-right: 1.5rem;
}


/* Home */
body {
    background: var(--primaryColor);
    background: linear-gradient(
        0deg, 
        var(--darkColor) 0%, 
        var(--primaryColor) 100%);
    color: var(--darkColor);
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.single {
    width: 91%;
    height: 10rem;
    margin: 4rem .75rem 1rem;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    background-color: cyan;
}
 
.double {
    width: 45%;
    height: 10rem;
    margin: 1rem .5rem;
    border-radius: 5px;
    border-style: none;
    text-align: right;
    background-color: cyan;
}

.margin__correction {
    margin-bottom: 4rem;
}

.list__label {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: 600;
    color: #fff;
}

.correction {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 2rem;
    margin-right: 2.5rem;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    color: var(--primaryColor);
}

/* Footer */
footer {
    width: 100%;
    height: 3rem;
}